body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#navigation-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 60px;
}
#navigation-bar ul {
    padding-right: 25px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-family: Arial, sans-serif;
}
#navigation-bar li {
    margin: 0 10px;
}
#navigation-bar a {
    text-decoration: none;
    color: black;
}
#navigation-bar p:hover {
    text-decoration: underline;
}
#profile-pic {
    height: 36px;
    border-radius: 50%;
}
#profile-pic:hover {
 box-shadow: 0 0 0 4px #d6d8df;
}
#apps-icon {
    height: 24px;
    position: relative;
    bottom: -2px;
    border: transparent;
    border-radius: 50%;
}
#apps-icon:hover {
    opacity: 1;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15%;
}
#search-area {
    display: flex;
    flex-direction: column;
    height: 160px;
    padding: 20px;
    width: 100%;
    max-width: 624px;
    min-width: 300px;
    align-content: center;
}
#search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    background-color: transparent;
    margin-left: 20px;
    margin-right: 20px;
}
#search-bar:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}
#search {
    border: none;
    background-color: transparent;
    width: 90%;
    outline: none;
    margin-right: 10px;
}
#search-icon {
    max-height: 14px;
    margin: 0 10px;
}
#logo {
    max-height: 92px;
}
#buttons {
    display: flex;
    justify-content: center;
    height: 70px;
    padding-top: 18px;
}
.search-btn {
    height: 36px;
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 5px;
    border: none;
    margin: 11px 4px;
    padding: 0 16px;
    font-family: arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
}
.search-btn:hover {
    border: solid 1px lightgray;
    box-shadow:  1px 1px rgba(0,0,0,.1)
}
.search-btn:focus {
    border: solid 1px #4d90fe;
}
#search-area p {
    font-size: small;
    font-family: arial, sans-serif;
    align-self: center;
    margin-top: 5px;
}
#search-area p a {
    text-decoration: none;
    color: rgb(0, 52, 112);
}
footer {
    display: flex;
    box-sizing: border-box;;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    background-color: #f2f2f2;
    color: #70757a;
    border-top: solid 1px #dadce0;
    padding: 24px 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer-left {
    display: flex;
}
#footer-right {
    display: flex;
}
footer li {
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 15px;
}
footer a {
    text-decoration: none;
    color: #70757a;
}
footer a:hover {
    text-decoration: underline;
}